.add-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
  
.add-button {
    /* Add your button styles here */
    padding: 10px 20px;
    background-color: #00ABB3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-container {
    position: fixed;
    bottom: 20px;
    left: 650px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #00ABB3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}